<div class="home-text-panel">
    <div class="ui raised very padded text container center aligned segment">
        
        <h2 class="ui header">
            Wanna know what is trending in Gitub right now?
        </h2>
        
        <br />

        <a id="repositories-button" asp-controller="Repositories" asp-action="Trending" asp-route-page="1" class="ui basic teal button">
            <i class="icon book"></i>
            Repositories
        </a>

        <a id="developers-button" asp-controller="Developers" asp-action="Trending" asp-route-page="1" class="ui basic teal button">
            <i class="icon user"></i>
            Developers
        </a>

    </div>
</div>