<div class="home-text-panel">
    <div class="ui raised very padded text container center aligned segment">
        <h2 class="ui header">
            Wanna know what is trending in Gitub right now?
        </h2>
        <p></p>
        <p></p>
    </div>
</div>