<header class="ui top fixed menu">
    <a asp-controller="Home" asp-action="Index" class="header item">
        Github Trending Visualizer
    </a>
    <div class="right menu">

        <a class="item">
            About
        </a>

        <div id="language-dropdown" class="ui dropdown item">
            Language <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">Português</a>
                <a class="item">English</a>
            </div>
        </div>

    </div>
</header>