<div class="home-text-panel">
    <div class="ui raised very padded text container center aligned segment">

        <h2 class="ui header">
            You have exceeded the anonymous calls limit of the GitHub API, please wait a few moments to re-use this application.
        </h2>

        <br />

        <a id="repositories-button" asp-controller="Repositories" asp-action="Trending" asp-route-page="1" class="ui basic teal button">
            <i class="icon book"></i>
            Repositories
        </a>

    </div>
</div>